<p><%= Time.now.strftime("%I:%M:%S %z") %></p>

<p><%= Time.now.strftime("%A, %B %d, %Y at %lf%p") %></p>

<p><p><%= Time.now.strftime("%a, %m/%d/%y at %H:%M:%S") %></p>

<!-- Full list at http://apidock.com/rails/ActiveSupport/TimeWithZone/strftime -->
<!-- Can add a function so that it gives a different message based on the time -->