<fieldset>
	<legend>Check some boxes</legend>
	<input type="checkbox" name="test[]" value="foo" id="foo_field"><label for="foo_field">Foo</label>
	<input type="checkbox" name="test[]" value="bar" id="bar_field"><label for="bar_field">Bar</label>
	<input type="checkbox" name="test[]" value="baz" id="baz_field"><label for="baz_field">Baz</label>
	<input type="submit" value="Submit" name="subm">
</fieldset>