<ol class="joyride-list" data-joyride>
  <li data-id="firstStop" data-text="Next" data-options="tipLocation: bottom">
    <h4>Are you ready...</h4>
    <p>...for an awesome spontaneous night? Start by choosing what you're feeling.</p>
  </li>
  <!-- need to have secondStop, thirdStop, and fourthStop not show up unless toggled -->
  <li data-id="secondStop" data-text="Next" data-options="tipLocation: bottom">
    <p>How much money for dinner?</p>
  </li>
  <li data-id="thirdStop" data-text="Next" data-options="tipLocation: bottom">
    <p>How bad do you want to get schwasted?</p>
  </li>
  <li data-id="fourthStop" data-text="Next" data-options="tipLocation: bottom">
    <p>Watering hole or meat market?</p>
  </li>
  <li data-id="fifthStop" data-text="Next" data-options="tipLocation: bottom">
    <p>Is it nice enough to be outside?</p>
  </li>
  <li data-id="sixthStop" data-text="Next" data-options="tipLocation: bottom">
    <p>Taking someone special?</p>
  </li>
  <li data-button="Next">
    <p>Choose your 'hood and go be Noctaneous!</p>
  </li>
</ol>