/* Icons for choosing Dinner and/or Drinks */
/* On hover, changes color */
/* On click, changes background color.
   Will need jQ for this */
/* To change the color, set path { fill: blue; } */

.hidden {
	display: none;
}

#dinner {
	display: none
}

.selected {
	fill: green;
}

.testblue {
	color: blue;
}

/* path#dinnericon { fill: blue;} */